In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data/raw-contributions.json', orient='records')

In [3]:
df.head()

,Addr Line1,Amount,Amount Type,Candidate,City,Contribution Type,Country,Date Paid,Election Type,Employer,...,Last Name,Middle Initial,Occupation,Purpose,Reporting Period,State,Total General,Total Primary,Zip,Zip4
0,2323 Azalea Ln,10000.00,CA,"Arntzen, Elsie",Billings,3,None,06/12/2019,PM,NONE,...,Arntzen,None,RETIRED,None,06/01/2019 to 06/30/2019,MT,0.0,10000.00,59102,2516
1,2208 Highway 39,50.00,CA,"Arntzen, Elsie",Miles City,9,None,06/30/2019,PM,NONE,...,Murray,H,RETIRED,None,06/01/2019 to 06/30/2019,MT,0.0,50.00,59301,None
2,893 Boulder Cut Off Rd,200.00,CA,"Arntzen, Elsie",Cardwell,9,None,06/30/2019,PM,SELF EMPLOYED,...,Murphy,None,FARMER,None,06/01/2019 to 06/30/2019,MT,0.0,200.00,59721,9605
3,2015 Eastridge Dr,10.00,CA,"Arntzen, Elsie",Billings,9,None,06/14/2019,GN,State of Montana,...,Stapleton,None,Secretary of State,None,06/01/2019 to 06/30/2019,MT,10.0,330.00,59102,7904
4,PO Box 77,234.56,CA,"Arntzen, Elsie",Sidney,9,None,06/14/2019,PM,SELF EMPLOYED,...,Dasinger,None,Oil Guy,None,06/01/2019 to 06/30/2019,MT,0.0,234.56,59270,77

In [4]:
df['Contribution Type'].value_counts()

9    4096
3      26
1      13
5      11
2       6
4       2
Name: Contribution Type, dtype: int64